<form class="container" (ngSubmit)="onSubmit(formData)" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="refNum">Reference Number</label>
                <input [(ngModel)]="formData.profileId" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="refNum" placeholder="Enter reference number">
            </div>
            <div class="form-group">
                <label for="profileName">Profile Name</label>
                <input [(ngModel)]="formData.name" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="profileName" placeholder="Enter profile name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="profileDesc">Description</label>
                <textarea [(ngModel)]="formData.description" [ngModelOptions]="{standalone: true}"  class="form-control" id="profileDesc" rows="8" placeholder="Enter profile description"></textarea>
            </div>
        </div>
    </div>

    <div class="table-controls">
        <button type="submit" class="btn btn-success mx-1">Save</button>
        <a class="btn btn-warning mx-1" routerLink="/profile">Cancel</a>
    </div>
</form>