<form class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="configKey">Key</label>
                <input type="text" class="form-control" id="configKey" placeholder="Enter key">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="configValue">Value</label>
                <input type="text" class="form-control" id="configValue" placeholder="Enter value">
            </div>
        </div>
    </div>
</form>