<form class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="questName">Quest Name</label>
                <input type="text" class="form-control" id="questName" placeholder="Enter quest name">
            </div>
            <div class="form-group">
                <label for="questDesc">Description</label>
                <textarea class="form-control" id="questDesc" rows="8" placeholder="Enter quest description"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pointsMult">Multiplier</label>
                <input type="number" class="form-control" id="pointsMult" placeholder="Enter multiplier">
            </div>
            <div class="form-group">
                <label for="repeatCount">Repeat Count</label>
                <input type="number" class="form-control" id="repeatCount" placeholder="Enter repeat count">
            </div>
            <div class="form-group">
                <label for="requiredLvl">Required Level</label>
                <input type="number" class="form-control" id="requiredLvl" placeholder="Enter required level">
            </div>
            <div class="form-group">
                <label for="profileType">Profile Type</label>
                <input type="text" class="form-control" id="profileType" placeholder="Enter profile type">
            </div>
        </div>
    </div>
</form>