<form class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="lvlName">Level Name</label>
                <input type="text" class="form-control" id="lvlName" placeholder="Enter level name">
            </div>
            <div class="form-group">
                <label for="lvlNum">Level Number</label>
                <input type="number" class="form-control" id="lvlNum" placeholder="Enter level number">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="reqPoints">Required Points</label>
                <input type="number" class="form-control" id="reqPoints" placeholder="Enter required points">
            </div>
        </div>
    </div>
</form>