<form class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="rewardName">Reward Name</label>
                <input type="text" class="form-control" id="rewardName" placeholder="Enter reward name">
            </div>
            <div class="form-group">
                <label for="rewardDesc">Description</label>
                <textarea class="form-control" id="rewardDesc" rows="8" placeholder="Enter reward description"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="rewardType">Profile Type</label>
                <input type="text" class="form-control" id="rewardType" placeholder="Enter reward type">
            </div>
            <div class="form-group">
                <label for="requiredLvl">Required Level</label>
                <input type="number" class="form-control" id="requiredLvl" placeholder="Enter required level">
            </div>
            <div class="form-group">
                <label for="profileType">Profile Type</label>
                <input type="text" class="form-control" id="profileType" placeholder="Enter profile type">
            </div>
        </div>
    </div>
</form>