<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">
            <h4 class="table-title">Levels</h4>
        </div>
        <div class="col-md-6 text-right">
            <a href="#" class="btn btn-primary align-right" routerLink="/level/new">Create</a>
        </div>
    </div>
</div>

<hr>

<div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Level Num</th>
                <th scope="col">Name</th>
                <th scope="col">Points Required</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let level of levels">
                <td>{{level.name}}</td>
                <td>{{level.levelNumn}}</td>
                <td>{{level.pointsRequired}}</td>
            </tr>
        </tbody>
    </table>
</div>