<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">
            <h4 class="table-title">Quests</h4>
        </div>
        <div class="col-md-6 text-right">
            <a href="#" class="btn btn-primary align-right" routerLink="/quest/new">Create</a>
        </div>
    </div>
</div>

<hr>

<div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Quest Name</th>
                <th scope="col">Description</th>
                <th scope="col">Required Level</th>
                <th scope="col">Repeat Count</th>
                <th scope="col">Pts Mulitplier</th>
                <th scope="col">Goal</th>
                <th scope="col">Profile</th>
                <!-- <th scope="col">Reward</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quest of quests">
                <td>{{quest.name}}</td>
                <td>{{quest.description}}</td>
                <td>{{quest.requiredLevel}}</td>
                <td>{{quest.repeatCount}}</td>
                <td>{{quest.pointsMultiplier}}</td>
                <td>{{quest.goal}}</td>
                <td>{{quest.profile.name}}</td>
                <!-- <td>{{quest.reward.name}}</td> -->
            </tr>
        </tbody>
    </table>
</div>