<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">
            <h4 class="table-title">Profiles</h4>
        </div>
        <div class="col-md-6 text-right">
            <a href="#" class="btn btn-primary align-right" routerLink="/profile/new">Create</a>
        </div>
    </div>
</div>

<hr>

<div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Doc Id</th>
                <th scope="col">Reference Number</th>
                <th scope="col">Profile Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let profile of profiles">
                <td>{{profile._id}}</td>
                <td>{{profile.profileId}}</td>
                <td>{{profile.name}}</td>
                <td>{{profile.description}}</td>
            </tr>
        </tbody>
    </table>
</div>