<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">
            <h4 class="table-title">Configurations</h4>
        </div>
        <div class="col-md-6 text-right">
            <a href="#" class="btn btn-primary align-right" routerLink="/config/new">Create</a>
        </div>
    </div>
</div>

<hr>

<div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let config of configs">
                <td>{{config.key}}</td>
                <td>{{config.value}}</td>
            </tr>
        </tbody>
    </table>
</div>